   @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

        

        .contents {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap:wrap;
            padding: 20px;
        }

        form {
            background-color: #fff;
            width: 100%;
            max-width: 620px;
            padding: 0px 50px;
            border-radius: 10px;
        }

        .input-fields {
            display: flex;
            flex-direction: column;
            text-align: left;
            flex-wrap:wrap;
        }

        input[type='email'],
        input[type='password'] {
            width: 100%;
    
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .other-inputs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap:wrap;
            margin-top: 10px;
        }

        .btn {
            width: 100%;
            height: 50px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 20px;
            font-size: 18px;
            text-align: center;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
        }

        a:hover {
            text-decoration: underline;
        }

        .others {
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap:wrap;
            gap: 10px;
            margin-top: 10px;
            margin-bottom:10px;
        }

        #button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            cursor: pointer;
            font-size: 15px;
        }

        #button img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
        #error{
            color:red;
            min-height:15px;
            font-size:15px;
        }