   * {
            box-sizing: border-box;
        }

        body {
            background-color:   #F5F6FA;
            font-family: 'Nunito Sans', sans-serif;
            margin: 0;
            padding: 0;
            overflow-x:hidden;
        }
        .dashboard
        {
            display:flex;
            margin-left:1%;
            
        }
        .options{
            display:flex;
            flex-direction:column;
            align-items:center; 
            flex-wrap:wrap;
            background-color:#ffffff;
            min-width: 230px;
            gap:2px;
            padding:10px;
        }

        
        .options-down{
            display:flex;
            flex-direction:column;
            align-items:center; 
            background-color:#ffffff;
            width:100%;
            margin-top:50px;
        }
        .options-down a{
            text-align:center;  
        }
        .options a{
            padding: 15px 11px;
            width:90%;
            border:none;
            background:none;
            color:black;
            text-decoration:none;
            align-items:center;
            font-size:13px; 
           
        }
        .options a img{
            margin-right:17px;
        }
        .dashboard a:hover{
            background-color:#4880FF;;
            color:white;
            border-radius:6px;
        }
        .user-infos {
            display: flex;
            flex-direction: column;
            
            padding: 20px;
            margin-right:3%;
            margin-left:0.8%
        }
        .cards {
            display: flex;
            margin-bottom: 20px;
            gap:30px;
            width:100%;
            cursor:pointer;
            
        }
        .card {
            width:100%;
            height:140px;
            padding: 0px 10px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
          
            transition: transform 0.5s ease;
        }
        .card:hover{
            transform: scale(1.1  );
          
        }
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
           
        }
    
        .card-content p {
            font-size: 0.8rem;

            margin-bottom: 10px;
        }
        .card-content b {
            font-size: 1rem;

            margin-bottom: 10px;
        }
        .card-content .stat {
     
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            white-space: nowrap;
   
        }
       
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color:white;
        }
        table, th, td {
         
            text-align: center;
            padding: 8px;
        }
        td{
            font-size:0.8em;
            width: 20%; 
            max-width:20%;
          
           
        
        }
        th {
            background-color: #f5f5f5;
            font-weight: bold;
        }
    
        #dash{
            background-color:#4880FF;
            color:white;
            border-radius:6px;
        }
        .icon
        {
            margin-top:25px;    
        }.unknown{
            background-color:white;
            padding:20px;
            border-radius:15px;
        }
        .footer {
            margin-top: 30px;
            justify-content:right;
            display: flex;
            flex-wrap: nowrap;
            padding: 40px 80px;
            background-color: #fff;
            color: black;
            font-size: 16px;
            gap: 20px;
            overflow: hidden;
            box-sizing: border-box; 


        }

        .footer-column {
            display: flex;
            flex-direction: column;
            gap:20px;
            white-space: nowrap;

        }

        .footer-column a {
            color: gray;
            text-decoration: none;
            font-size: 14px;
            white-space: nowrap;
            margin: 0; 
            padding: 0;
            
        }

        .footer-column a:hover {
            color: black;
        }

        .footer-column p {
            margin: 0;
            color: black;
            white-space: nowrap;
        }

        .footer-column .bold {
            font-weight: bold;
        }
        .social-icons {
            display: flex;
        }
        .social-icons img {
                width: 24px;
                height: 24px;
        }
