    * {
            box-sizing: border-box;
        }

        body {
            background-color: #F5F6FA;
            font-family: 'Nunito Sans', sans-serif;
            margin: 0;
            padding: 0;
            overflow-x:hidden;
        }
     

       
        .dashboard
        {
            display:flex;
            margin-left:1%;
            
        }
        .options{
            display:flex;
            flex-direction:column;
            align-items:center; 
            flex-wrap:wrap;
            background-color:#ffffff;
            min-width: 230px;
            gap:2px;
            padding:10px;
        }

        
        .options-down{
            display:flex;
            flex-direction:column;
            align-items:center; 
            background-color:#ffffff;
            width:100%;
            margin-top:50px;
        }
        .options-down a{
            text-align:center;  
        }
        .options-down a{
            text-align:center;  
        }
        .options a{
            padding: 15px 11px;
            width:90%;
            border:none;
            background:none;
            color:black;
            text-decoration:none;
            align-items:center;
            font-size:13px; 
           
        }
        .options a img{
            margin-right:17px;
        }
        table {
                font-size:20px;
                width:100%;
            }

            th, td {
                text-align:center;
                padding: 5px;
                font-size: 0.8em;
            }
            td{
                background-color:  #F5F6FA;
            }
        .dashboard a:hover{
            background-color:#4880FF;;
            color:white;
            border-radius:6px;
        }
        .user-infos {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 20px;
            margin-right:3%;
            margin-left:0.8%;
            width:100%;
        }
       
    
        #dash{
            background-color:#4880FF;
            color:white;
            border-radius:6px;
        }
        .icon
        {
            margin-top:25px;    
        }.unknown{
            background-color:white;
            padding:20px;
            border-radius:15px;
        }
        .footer {
            margin-top: 30px;
            justify-content:right;
            display: flex;
            flex-wrap: nowrap;
            padding: 40px 80px;
            background-color: #fff;
            color: black;
            font-size: 16px;
            gap: 20px;
            overflow: hidden;
            box-sizing: border-box; 


        }

        .footer-column {
            display: flex;
            flex-direction: column;
            gap:20px;
            white-space: nowrap;

        }

        .footer-column a {
            color: gray;
            text-decoration: none;
            font-size: 14px;
            white-space: nowrap;
            margin: 0; 
            padding: 0;
            
        }

        .footer-column a:hover {
            color: black;
        }

        .footer-column p {
            margin: 0;
            color: black;
            white-space: nowrap;
        }

        .footer-column .bold {
            font-weight: bold;
        }
        .social-icons {
            display: flex;
        }
        .social-icons img {
                width: 24px;
                height: 24px;
        }
