 *{
            box-sizing: border-box;
        }
        body{
            padding:0;
            margin:0;
            background-color:  #F5F6FA;
            font-family: 'Nunito Sans', sans-serif;
          
        }
        .all-container{
            display: flex;
            flex-direction: row;
            margin:0;
            margin-left:1%;
            margin-right:1%;
           
            
        }
        .add-container{
           
            display: flex;
            
            justify-content: center;
            width:100%;
        }
        form{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap:15px;
            padding: 30px 60px;
            width: 850px;
            height:700px;
         
 
        }
        .add-container p{
            font-size: 30px;
            font-weight: bold;
            margin-top:0;
            margin-bottom: 0;
        }
        input[type='text'],
        input[type='password']{

            width: 700;
            height:40px;
            padding:10px;
        }
        .nitems{
            width:700px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
         
        }
        #half{
            width:300px;
            height:40px;
        }
        input[type='textarea']{
            width: 700px;
            height:100px;
            padding:10px;
        }
        .low{
            display: flex;
            flex-direction:column;
        }
        select{
            width: 300px;
            height:40px;
        }
        .productimgs{
            border:2px solid black;
            height: 75px;
        }
        .productimgs img{
            width:70px;
            height:70px;
            border:2px solid black;
        }
        button{
            background-color: black;
            color:white;
            padding:10px 50px;
            border-radius: 5px;
        }
        .options{
            display:flex;
            flex-direction:column;
            align-items:center; 
            background-color:#ffffff;
            min-width: 230px;
            gap:2px;
            padding:10px;
        }

        
        .options-down{
            display:flex;
            flex-direction:column;
            align-items:center; 
            background-color:#ffffff;
            width:100%;
            margin-top:50px;
        }
        .options-down a{
            text-align:center;  
        }
        .options-down a{
            text-align:center;  
        }
        .options a{
            padding: 15px 11px;
            width:90%;
            border:none;
            background:none;
            color:black;
            text-decoration:none;
            align-items:center;
            font-size:13px; 
           
        }
        .options a img{
            margin-right:17px;
        }
         .dashboard a:hover{
            background-color:#4880FF;;
            color:white;
            border-radius:6px;
        }
        #dash{
            background-color:#4880FF;
            color:white;
            border-radius:6px;
        }